
@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: all;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

.toright {
	float: right;
}

.toleft {
	float: left;
}

.newpiece_container {
  padding-top: 5px;
  background-color: WhiteSmoke;
  border: 1px solid;
  color: #999;
}

.piece_container {
  margin-left: 50px;
  margin-top: 10px;
  padding: 6px;
  background-color: AliceBlue;
  border: 1px solid;
}

.newpiecefield {
  width: 240px;
}

.info_area {
	padding: 2px;
	font-size: 0.8em;
}

.info_table {
	overflow: hidden;
	height: 4px;
	background-color: LightGrey;
}

.info_tr {
	valign: top;
	overflow: hidden;
	height:9px; 
	width: 9px;
}

.selected_area {
	padding: 10px;
	margin-bottom: 10px;
	color: AliceBlue;
	background-color: DimGrey;
	font-size: 1.2em;
}

.bordered {
	border: 1px solid;
}

.linkfield {
	font-size: 0.7em;
	maxlength: 4;
	background-color: WhiteSmoke;
	width: 30px;
	height: 25px;
	size: 5;
	placeholder: "Make an offer ";
	maxlength: 5 
}

.poolinfo {
  margin-top: 10px;
  background-color: AliceBlue;
}

.minitext {
  font-size: 0.5em;
}

.smalltext {
  font-size: 0.8em;
}

.normaltext {
  font-size: 1em;
}

.bigtext {
  font-size: 1.2em;
}

