<% if @clinks != nil then %>
	
	<% @clinks.each do |infolink| %>
		<% @infopiece = infolink %>
		<table class="span5 table-bordered infotable">
		<%= render "infopiece" %>
		</table>
	<% end %>
	
<% end %>
