<% if @clinks != nil then %>
<div class="row span3">
	<% @clinks.each do |infolink| %>
		<% @infopiece = infolink %>
		<div name="cinfos"  id="<%= @infopiece.id %>">
			<table  class=" table-bordered infotable">
			<%= render "infopiece" %>
			</table>
		</div>
	<% end %>
</div>	
<% end %>
