<% if @llinks != nil then %>
	<% if !@llinks.empty? then%>
		<% @llinks.each do |infolink| %>
			<% @infopiece = infolink %>
				<table class="infotable" name="linfos<%= @page %>">
					<%= render "infopiece" %>
				</table>
		<% end %>
	<% else %>
		<h3>Empty</h3>
	<% end %>
<% else %>
	<h3>Null</h3>
<% end %>
