<% if @llinks != nil then if !@llinks.empty? then%>
	
	<% @llinks.each do |infolink| %>
		<% @infopiece = infolink %>
		<table class="span3 table-bordered infotable">
			<%= render "infopiece" %>
		</table>
	<br> 
	<% end %>
	
<% end end %>
