<div class="row">

	<table class="span4 poolinfo">
		<tr>
		<%= form_for(@infopiece) do |f| %>
			<td class="center">
				<%= f.text_area :content, :class => "newpiecefield", :rows => 2, :cols => 60 %>
			</td><td>
				<%= f.submit "add", :class => "btn btn-small btn-danger" %>
			</td>
		<% end %>
		</tr>
	</table>
		
	<% @infopieces.each do |infopiece| %>
		<table class="span2 poolinfo">
			<% @briefinfopiece = infopiece %>
			<%= render "briefinfopiece" %>
		</table>
	<% end %>
</div>
