<div class="info_area" >
	<span 
		class="label label-success"
		onmouseup=<%="endTo(" + @infopiece.id.to_s + ",0)" %>
		onclick=<%="choseInfo(" + @infopiece.id.to_s  + "," + @page + ")"%>
	>
		<span data-toggle="tooltip" title="<%= @infopiece.content %>"><%= @infopiece.shortcontent %></span>
	</span>
</div>
