<div data-toggle="collapse" data-target=<%= "#rootmenu" + @page %> >
    <h3>MAP <%= @page %></h3>
</div>
     
<div id=<%= "rootmenu" + @page %> class="collapse out">
	<br>
	Root Info List:
	<% @rootpieces.each do |infopiece| %>
		<% @infopiece = infopiece %>
		<%= render "rootpiece" %>
	<% end %>
</div>
