<% if @rlinks != nil then %>
<div class="row span5">	
	<% @rlinks.each do |infolink| %>
		<% @infopiece = infolink %>
		
		<div name="rinfos">
			<table class=" table-bordered infotable">
				<%= render "infopiece" %>
			</table>
		<div>
		
	<% end %>
</div>	
<% end %>