<% if @rlinks != nil then %>
	
	<% @rlinks.each do |infolink| %>
		<% @infopiece = infolink %>
		<table class="span4 table-bordered infotable">
		<%= render "infopiece" %>
	</table>
	<% end %>
	
<% end %>