<% if @rlinks != nil then %>
	<% if !@rlinks.empty? then %>
		<% @rlinks.each do |infolink| %>
			<% @infopiece = infolink %>
			<table class=" infotable" name="rinfos<%= @page %>">
				<%= render "infopiece" %>
			</table>
		<% end %>
	<% else %>
		<h3>Empty</h3>
	<% end %>
<% else %>
	<h3>Null</h3>
<% end %>